body {
  margin: 0;
}

.container {
  max-width: 100%;
}

.container a {
  color: inherit;
  text-decoration-line: inherit;
}

/*Header*/
.name {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 36px;
  font-family: "Shrikhand", sans-serif;
  font-size: 36px;
}

.name p {
  margin: 0;
}

.top_picture {
  width: 100%;
}

/*search*/
.search {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  padding: 24px;
  box-shadow: inset 0px 0px 12px 0px #999;
}

.search input {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  background-color: #EAEAEA;
  border: none;
}

/*title and button*/
.info_title {
  background-color: #F6F6F6;
  text-align: center;
  margin: 0;
}

.info_title .title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 32px;
  font-size: 28px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.info_title .substitles {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #969696;
  padding-bottom: 24px;
}

.info_title .info_button {
  box-shadow: 0px 4px 8px #999;
  padding: 16px 24px;
  margin-bottom: 32px;
  border: none;
  background: linear-gradient(-180deg, #FF79DA, #9356DC);
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
}

/*filtres*/
.container_filtre {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.container_filtre h2 {
  margin: 0;
  padding: 24px 20px 0px;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
}

.container_filtre .block_filtres {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 28px;
}

.container_filtre .filtres {
  align-items: center;
  background-color: #F6F6F6;
  position: relative;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  padding: 32px;
  box-shadow: 0px 8px 6px 0px #e0e0e0;
  width: 68%;
}

.container_filtre .filtres:hover {
  background-color: #F5EDFF;
  transition: 0.5s;
  cursor: pointer;
}

.container_filtre .filtres:hover .icone {
  font-size: x-large;
  color: #9356DC;
  transition: 0.5s;
}

.container_filtre .filtres strong {
  font-family: "Roboto", sans-serif;
}

.container_filtre .filtres .liste_chiffre {
  display: flex;
  position: absolute;
  left: 0;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  border-radius: 50px;
  width: 40px;
  height: 40px;
  color: white;
  background-color: #9356DC;
}

.container_filtre .filtres .icone {
  font-size: x-large;
  color: grey;
}

/*main*/
.main_cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
}

.main_cards h2 {
  margin: 0;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.main_cards .container_cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 36px;
}

.main_cards .container_cards .restaurant_card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 220px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #999;
}

.main_cards .container_cards .restaurant_card .new {
  font-family: "Roboto", sans-serif;
  background-color: #99E2D0;
  font-weight: 800;
  color: #369658;
  padding: 8px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.main_cards .container_cards .restaurant_card img {
  position: relative;
  object-fit: cover;
  height: 68%;
}

.main_cards .container_cards .content_card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
  text-decoration-line: none;
}

.main_cards .container_cards .content_card h4 {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding-left: 16px;
  margin-top: 4px;
}

.main_cards .container_cards .content_card p {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding-left: 16px;
}

.main_cards .container_cards .content_card .fa-regular.fa-heart.like {
  display: flex;
  position: absolute;
  right: 24px;
  transform: translateX(-100%);
  margin-top: 8px;
  font-size: xx-large;
}

/*footer*/
footer {
  background-color: #353535;
}

footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: inherit;
  color: white;
  padding: 20px 20px 0px 20px;
}

footer .footer_text {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: white;
  padding: 0px 0px 20px 20px;
}

footer .footer_text .footer_icon {
  margin-right: 12px;
}

/*# sourceMappingURL=accueil_mobile.css.map */