/*header*/
body {
  position: relative;
}

.name {
  flex-direction: column;
  padding: inherit;
  display: flex;
  align-items: center;
  width: 100%;
}
.name .return {
  position: absolute;
  left: 16px;
  top: 12px;
  font-size: 28px;
}
.name p {
  padding-top: 16px;
}
.name img {
  margin-top: 24px;
  width: 100%;
}

/*menu*/
.container_menu {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  margin-top: -64px;
}
.container_menu .title_menu {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 28px;
  padding: 32px 0px;
  gap: 40px;
  margin: 0 0 0 20px;
  width: 100%;
}
.container_menu .menu_liste {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.container_menu .menu_liste > p {
  margin-left: 20px;
}
.container_menu .menu_liste .horizontal-line {
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  width: 36px;
  height: 3px;
  margin: 24px 0 0 20px;
}
.container_menu .menu_liste .liste_plats {
  display: flex;
  flex-direction: column;
  margin: 24px 0px;
  padding: 12px;
  gap: 20px;
}
.container_menu .menu_liste .liste_plats .container_plat:nth-child(1) {
  animation-delay: 400ms;
}
.container_menu .menu_liste .liste_plats .container_plat:nth-child(2) {
  animation-delay: 800ms;
}
.container_menu .menu_liste .liste_plats .container_plat:nth-child(3) {
  animation-delay: 1200ms;
}
.container_menu .menu_liste .liste_plats .container_plat {
  animation: slidemenu 600ms forwards ease-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0px 6px 8px 0px #e0e0e0;
  border-radius: 12px;
  height: 70px;
  overflow: hidden;
  opacity: 0;
}
.container_menu .menu_liste .liste_plats .container_plat .icone_check {
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  height: 100%;
  width: 100px;
  margin-right: -100px;
  transition: 1s ease-in-out;
  transform: rotate(-360deg);
}
@keyframes slidemenu {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.container_menu .menu_liste .liste_plats .container_plat:hover {
  cursor: pointer;
}
.container_menu .menu_liste .liste_plats .container_plat:hover .icone_check {
  margin-right: 0px;
  height: 100%;
  transition: 200ms ease-in-out;
}
.container_menu .menu_liste .liste_plats .container_plat:hover .icone_check::before {
  color: white;
  transition: 400ms ease-in-out;
  transform: rotate(-360deg);
}
.container_menu .menu_liste .liste_plats .container_plat .container_plat:nth-child(1) {
  animation-delay: 0ms;
  position: relative;
}
.container_menu .menu_liste .liste_plats .container_plat .container_plat:nth-child(2) {
  animation-delay: -300ms;
  position: relative;
}
.container_menu .menu_liste .liste_plats .container_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  overflow: hidden;
}
.container_menu .menu_liste .liste_plats .container_text .text_menu {
  white-space: nowrap;
  overflow: hidden;
  line-height: 24px;
}
.container_menu .menu_liste .liste_plats .container_text .text_menu :first-child {
  font-size: 19px;
  font-weight: bold;
  color: black;
  margin: 0;
}
.container_menu .menu_liste .liste_plats .container_text .text_menu p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container_menu .menu_liste .liste_plats .container_text .strong_price {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin-bottom: 28px;
  margin-right: 10px;
}
.container_menu .menu_liste .info_button {
  box-shadow: 0px 4px 8px #999;
  text-align: center;
  padding: 16px 24px;
  border: none;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: white;
  width: 40%;
  margin: 12px 0 40px 100px;
  background: linear-gradient(-180deg, #FF79DA, #9356DC);
  transition-duration: 2s;
}
.container_menu .menu_liste .info_button:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=fiche_restaurant.css.map */
