/*header*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: var(--font-title);
    font-size: 24px;
}

.search {
    background-color: #EAEAEA;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px;
}

input {
    font-size: var(--font-main);
    font-weight: bolder;
    background-color: #EAEAEA;
    border: none;
}

/*footer*/
footer {
    background-color: #353535;
}

.footer_title h3 {
    font-family: var(--font-title);
    color: white;
}