body {
    margin: auto;
}

/*header*/
header {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 16px;
    box-shadow: 0px 4px 8px #999;
}

header h1 {
    margin: 0;
}

.name {
    font-family: var(--font-title);
    font-size: 24px;
}

/*searc and title */
.info_title {
    background-color: #F6F6F6;
    text-align: center;
    margin: 0;
}

/*search*/
.search {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    padding: 24px;
}

input {
    font-size: var(--font-main);
    font-weight: bolder;
    background-color: #EAEAEA;
    border: none;
}

button {
    box-shadow: 0px 4px 8px #999;
    padding: 12px 24px;
    margin-bottom: 32px;
    border: none;
    background-color: #353535;
    border-radius: 40px;
    
}

.info_button {
    font-family: var(--font-main);
    font-weight: bolder;
    font-size: 20px;
    color: white;
}


/*title*/

.title {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 24px;
    font-family: var(--font-main);
}

.substitles {
    font-family: var(--font-main);
    font-size: 20px;
    font-weight: bold;
    color: #969696;
    padding-bottom: 24px;
}

/*footer*/
footer {
    background-color: #353535;

}

.footer_title h3 {
    font-family: var(--font-title);
    color: white;
    padding: 20px 20px 0px 20px;
}

.footer_text {
    font-family: var(--font-main);
    font-weight: bolder;
    color: white;
    padding: 0px 0px 20px 20px;
}

.footer_text a {
    color: inherit;
    text-decoration-line: inherit;
}

.footer_text .footer_icon {
    margin-right: 4px;
}