.container {
    max-width: 390px;
}

body {
    margin: auto;
}

/*header*/
header {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 16px;
    box-shadow: 0px 4px 8px #999;
}

header h1 {
    margin: 0;
}

.name {
    font-family: var(--font-title);
    font-size: 24px;
}

/*searc and title */
.info_title {
    background-color: #F6F6F6;
    text-align: center;
    margin: 0;
}

/*search*/
.search {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    padding: 24px;
}

input {
    font-size: var(--font-main);
    font-weight: bolder;
    text-align: center;
    background-color: #EAEAEA;
    border: none;
}

button {
    box-shadow: 0px 4px 8px #999;
    padding: 12px 24px;
    margin-bottom: 32px;
    border: none;
    background-color: #353535;
    border-radius: 40px;

}

.info_button {
    font-family: var(--font-main);
    font-weight: bolder;
    font-size: 20px;
    color: white;
}


/*title*/

.title {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    font-weight: bold;
    font-size: 24px;
    font-family: var(--font-main);
}

.substitles {
    font-family: var(--font-main);
    font-size: 20px;
    font-weight: bold;
    color: #969696;
    padding-bottom: 24px;
}

/*filtre*/
.container_filtre {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.container_filtre h3 {
    margin: 0;
    padding: 24px 20px 0px;
    font-size: 28px;
    font-family: var(--font-main);
    font-weight: bolder;
}

.container_filtre .filtres {
    align-items: center;
}

.filtres {
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 32px;
    width: 68%;
    text-align: center;
}

/*main*/
.main_cards {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main_cards h3 {
    margin: 0;
    padding: 24px 20px;
    font-size: 28px;
    font-family: var(--font-main);
    font-weight: bolder;
}


/*cards*/
.container_cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 36px;
}

.restaurant_card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 220px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #999;

}

.restaurant_card img {
    position: relative;
    object-fit: cover;
    height: 68%;
}

.content_card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-decoration-line: none;
}

.content_card h4 {
    font-family: var(--font-main);
    margin: 0px;
}

.content_card p {
    font-family: var(--font-main);
    margin: 0px;
}

/*footer*/
footer {
    background-color: #353535;

}

.footer_title h3 {
    font-family: var(--font-title);
    color: white;
    padding: 20px 20px 0px 20px;
}

.footer_text {
    font-family: var(--font-main);
    font-weight: bolder;
    color: white;
    padding: 0px 0px 20px 20px;
}

.footer_text a {
    color: inherit;
    text-decoration-line: inherit;
}

.footer_text .footer_icon {
    margin-right: 4px;
}