@import 'variables';

body {
    margin: 0;
}

.container {
    max-width: 100%;


    a {
        color: inherit;
        text-decoration-line: inherit;
    }
}

/*Header*/
.name {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 36px;
    font-family: $font-title;
    font-size: 36px;

    p {
        margin: 0;
    }
}

.top_picture {
    width: 100%;
}

/*search*/
.search {
    background-color: $background-color-primary;
    display: flex;
    justify-content: center;
    padding: 24px;
    box-shadow: inset 0px 0px 12px 0px #999;

    input {
        font-family: $font-main;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        background-color: $background-color-primary;
        border: none;
    }
}

/*title and button*/
.info_title {
    background-color: $background-color-secondary;
    text-align: center;
    margin: 0;

    .title {
        display: flex;
        justify-content: center;
        margin: 0;
        padding-top: 32px;
        font-size: 28px;
        font-weight: bold;
        font-family: $font-main;
    }

    .substitles {
        font-family: $font-main;
        font-size: 20px;
        color: #969696;
        padding-bottom: 24px;
    }


    .info_button {
        box-shadow: 0px 4px 8px #999;
        padding: 16px 24px;
        margin-bottom: 32px;
        border: none;
        border-radius: 40px;
        font-family: $font-main;
        font-size: 20px;
        color: white;
        background: linear-gradient(-180deg, $color-second-main, $color-main);
        transition-duration: 2s;

        &:hover {
            transform: scale(1.2);
        }
    }

}


/*filtres*/
.container_filtre {
    display: flex;
    flex-direction: column;
    gap: 36px;

    h2 {
        margin: 0;
        padding: 24px 20px 0px;
        font-size: 28px;
        font-family: $font-main;
    }

    .block_filtres {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        margin-bottom: 28px;
    }

    .filtres {
        align-items: center;
        background-color: $background-color-secondary;
        position: relative;
        display: flex;
        justify-content: space-around;
        border-radius: 20px;
        padding: 32px;
        box-shadow: 0px 8px 6px 0px #e0e0e0;
        width: 68%;

        &:hover {
            background-color: #F5EDFF;
            transition: 0.5s;
            cursor: pointer;

            .icone {
                font-size: x-large;
                color: $color-main;
                transition: 0.5s;

            }
        }

        strong {
            font-family: $font-main;
        }

        .liste_chiffre {
            font-family: $font-main;
            display: flex;
            position: absolute;
            left: 0;
            align-items: center;
            justify-content: center;
            transform: translateX(-50%);
            border-radius: 50px;
            width: 40px;
            height: 40px;
            color: white;
            background-color: $color-main;

        }

        .icone {
            font-size: x-large;
            color: $color_icone;

        }
    }

}

/*main*/
.main_cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;

    h2 {
        margin: 0;
        font-size: 28px;
        font-family: $font-main;
        font-weight: bolder;
    }

    .container_cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 36px;

        .restaurant_card {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 220px;
            border-radius: 20px;
            box-shadow: 5px 5px 10px #999;

            .new {
                font-family: $font-main;
                background-color: $color-third-main;
                font-weight: 800;
                border-radius: 4px;
                color: #369658;
                padding: 8px;
                position: absolute;
                right: 32px;
            }
        }

        .restaurant_card img {
            position: relative;
            object-fit: cover;
            height: 68%;
        }

        .content_card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            flex-direction: row;
            gap: 8px;
            height: 100%;
            text-decoration-line: none;

            h4 {
                font-family: $font-main;
                margin: 0px;
                padding-left: 16px;
                margin-top: 4px;
            }

            p {
                font-family: $font-main;
                margin: 0px;
                padding-left: 16px;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                position: relative;

                i {
                    font-size: 28px;
                    margin-right: 20px;
                }

                i:last-child {
                    position: absolute;
                    opacity: 0;
                    transition: 1s ease-in-out all;
                    background: linear-gradient(-180deg, $color-second-main, $color-main);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                i:last-child:hover {
                    opacity: 1;
                    transition: 1s ease-in-out all;
                }
            }
        }
    }
}

/*footer*/
footer {
    background-color: #353535;

    h3 {
        font-family: $font-title;
        font-weight: inherit;
        color: white;
        padding: 20px 20px 0px 20px;
        margin-top: 0;
    }

    .footer_text {
        font-family: $font-main;
        color: white;
        padding: 0px 0px 20px 20px;

        .footer_icon {
            margin-right: 12px;
        }
    }
}