@import 'variables';

/*header*/
.name {
    flex-direction: column;
    padding: inherit;
    display: flex;
    align-items: center;
    width: 100%;

    .return {
        position: absolute;
        left: 16px;
        top: 12px;
        font-size: 28px;
    }

    p {
        padding-top: 16px;
    }

    img {
        margin-top: 24px;
        width: 100%;
    }
}

/*menu*/

.container_menu {
    display: flex;
    flex-direction: column;
    background-color: $background-color-secondary;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    margin-top: -64px;

    .title_menu {
        font-family: $font-title;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 28px;
        padding: 32px 0px;
        gap: 40px;
        margin: 0 0 0 20px;
        width: 100%;
    }

    .menu_liste {
        font-family: $font-main;
        font-size: 16px;
        // margin-left: 20px;

        >p {
            margin-left: 20px;
        }

        .horizontal-line {
            background-color: $color-third-main;
            position: absolute;
            left: 0;
            width: 36px;
            height: 3px;
            margin: 24px 0 0 20px;

        }

        .liste_plats {
            display: flex;
            flex-direction: column;
            margin: 24px 0px;
            padding: 12px;
            gap: 20px;
            
            
            
            .container_plat:nth-child(1) {
                animation-delay: 200ms;
            }

            .container_plat:nth-child(2) {
                animation-delay: 400ms;

            }

            .container_plat:nth-child(3) {
                animation-delay: 600ms;
            }

            .container_plat:nth-child(4) {
                animation-delay: 800ms;
            }
            
            .container_plat {
                animation: slidemenu 600ms forwards ease-out ;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: white;
                box-shadow: 0px 6px 8px 0px #e0e0e0;
                border-radius: 12px;
                height: 70px;
                overflow: hidden;
                opacity: 0;
                
                .icone_check {
                    background: $color-third-main;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 28px;
                    height: 100%;
                    width: 100px;
                    margin-right: -100px;
                    transition: 1s ease-in-out;
                    transform: rotate(-360deg);
                    
                   
                }


                @keyframes slidemenu {
                    0% {
                        transform: translateY(40px);
                        opacity: 0;
                    }
                    
                        
                    100% {
                        transform: translateY(0);
                            opacity: 1;
                     }
                }
                
                &:hover {
                    cursor: pointer;
                    
                    .icone_check {
                        margin-right: 0px;
                        height: 100%;
                        transition: 400ms ease-in-out;
                        
                        &::before {
                            color: white;
                            transition: 600ms ease-in-out;
                        transform: rotate(-360deg);
                        }
                    }
                    
                }

                .container_plat:nth-child(1) {
                    animation-delay: 0ms;
                    position: relative;
                }

                .container_plat:nth-child(2) {
                    animation-delay: -300ms;
                    position: relative;
                }
            } 

            .container_text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 12px;
                overflow: hidden;

                .text_menu {
                    white-space: nowrap;
                    overflow: hidden;
                    line-height: 24px;

                    :first-child {
                        font-size: 19px;
                        font-weight: bold;
                        color: black;
                        margin: 0;
                    }

                    p {
                        margin: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .strong_price {
                    font-weight: bold;
                    display: flex;
                    align-items: flex-end;
                    height: 100%;
                    margin-bottom: 28px;
                    margin-right: 10px;
                }
            }

        }

        .info_button {
            box-shadow: 0px 4px 8px #999;
            text-align: center;
            padding: 16px 24px;
            border: none;
            border-radius: 40px;
            font-family: $font-main;
            font-size: 24px;
            color: white;
            margin: 12px 0 40px 100px;
            background: linear-gradient(-180deg, $color-second-main, $color-main);
            transition-duration: 2s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}