@import 'variables';

/*header*/
.name {
    flex-direction: column;
    padding: inherit;
    display: flex;
    align-items: center;
    width: 100%;

    .return {
        position: absolute;
        left: 16px;
        top: 12px;
        font-size: 28px;
    }

    p {
        padding-top: 16px;
    }

    img {
        margin-top: 24px;
        width: 100%;
    }
}

/*menu*/

.container_menu {
    display: flex;
    flex-direction: column;
    background-color: $background-color-secondary;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    margin-top: -64px;

    .title_menu {
        font-family: $font-title;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 28px;
        padding: 32px 0px;
        margin: 0;
        width: 100%;
    }

    .menu_liste {
        font-family: $font-main;
        font-size: 16px;
        margin-left: 20px;

        p {
            margin: 0px;
        }

        .horizontal-line {
            background-color: $color-third-main;
            position: absolute;
            left: 0;
            width: 36px;
            height: 3px;
            margin: 24px 0 0 20px;

        }

        .liste_plats {
            display: flex;
            flex-direction: column;
            margin: 24px 0px;
            gap: 20px;

            .container_plat {
                display: flex;
                border-radius: 16px;
                overflow: hidden;
                box-shadow: 0px 6px 8px 0px #e0e0e0;
                background-color: white;

                .container_text {
                    flex: 1;
                    padding: 12px;
                    max-width: 100%;

                    .text_menu {

                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        .strong_word {
                            font-size: 20px;
                            font-weight: bold;
                        }

                        .details_plat {
                            display: flex;
                            justify-content: space-between;

                            .description {
                                flex: 1;
                                // white-space: nowrap;
                                // overflow: hidden;
                                // text-overflow: ellipsis;
                            }

                            .strong_price {
                                font-weight: bold;
                            }
                        }

                    }

                }

                .check {
                    transition: all 1s;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    align-items: center;
                    width: 0px;
                    background-color: aquamarine;
                    right: -48px;

                    .icone_check {
                        font-size: 36px;
                        color: white;
                    }
                }

                &:hover {

                    .check {
                        width: 60px;
                    }
                }
            }


        }
    }

    .info_button {
        box-shadow: 0px 4px 8px #999;
        text-align: center;
        padding: 16px 24px;
        margin-bottom: 32px;
        border: none;
        border-radius: 40px;
        font-family: $font-main;
        font-size: 24px;
        color: white;
        width: 40%;
        margin: 40px 0 20px 84px;
        background: linear-gradient(-180deg, $color-second-main, $color-main);
        transition-duration: 2s;

        &:hover {
            transform: scale(1.2);
        }
    }
}