@import 'variables';

/*header*/
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: inherit;

    .name {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 16px;
        margin-right: 40px;
    }

    img {
        width: 100%;
    }
}