@import 'variables';

/*header*/
.name {
    flex-direction: column;
    padding: inherit;
    display: flex;
    align-items: center;
    width: 100%;

    .return {
        position: absolute;
        left: 16px;
        top: 12px;
        font-size: 28px;
    }

    p {
        padding-top: 16px;
    }

    img {
        margin-top: 24px;
        width: 100%;
    }
}

/*menu*/

.container_menu {
    display: flex;
    flex-direction: column;
    background-color: $background-color-secondary;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    margin-top: -64px;

    .title_menu {
        font-family: $font-title;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 28px;
        padding: 32px 0px;
        margin: 0;
        width: 100%;
    }

    .menu_liste {
        font-family: $font-main;
        font-size: 16px;
        margin-left: 20px;

        p {
            margin: 0px;
        }

        .horizontal-line {
            background-color: $color-third-main;
            position: absolute;
            left: 0;
            width: 36px;
            height: 3px;
            margin: 24px 0 0 20px;

        }

        .liste_plats {
            display: flex;
            flex-direction: column;
            margin: 24px 0px;
            gap: 20px;


            .container_text_check {
                display: flex;
                justify-content: space-between;
                background-color: white;
                border-radius: 16px;
                align-items: center;
                box-shadow: 0px 6px 8px 0px #e0e0e0;
                width: 96%;
                margin: 0;

                .text_menu {
                    line-height: 28px;
                    margin: 12px 0px 12px 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    .strong_word {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }

                .price_check {
                    width: 0px;
                    display: flex;


                    .strong-price {
                        font-weight: bold;
                        gap: 20px;
                    }

                }
            }
        }
    }
}