@import 'variables';

body {
    background: linear-gradient(-180deg, $color-second-main, $color-main);
}

.container {
    margin: 0 200px;
    background-color: $background-color-secondary;
}

.menu_liste {

    .info_button {
        margin: 40px 0 20px 600px;
    }
}