@import 'variables';

/*header*/
.name {
    flex-direction: column;
    padding: inherit;
    display: flex;
    align-items: center;
    width: 100%;

    img {
        margin-top: 24px;
        width: 100%;
    }
}

.container_menu {

    background-color: $background-color-secondary;
    border-radius: 24px 24px 0px 0px;
    position: relative;
    margin-top: -64px;

    .title_menu {
        font-family: $font-title;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 16px 0px;
        margin: 0;
        width: 100%;
    }

    .menu_liste {
        font-family: $font-main;
        font-weight: bold;
        font-size: 16px;
        margin-left: 20px;

        .horizontal-line {
            background-color: $color-third-main;
            position: absolute;
            left: 0;
            width: 48px;
            height: 4px;
            margin: 24px 0 0 20px;

        }

        .liste_plats {
            display: flex;
            flex-direction: column;
            margin-top: 24px;
            gap: 20px;


            .menu_text {
                background-color: white;
                width: 92%;
                margin: 0;


            }
        }
    }

}