@import 'variables';

.lds-default {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #99E2D0;
    opacity: 1;
    animation: fade-out 4s linear forwards;

    .loader {
      position: relative;
      width: 80px;
      height: 80px;
    }
    
  }
  .lds-default .dot {
    position: absolute;
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    animation: lds-default 600ms linear infinite;
    font-size: 40px;
  }
  
  .lds-default .dot:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
    background-color: #9356DC;
  }
  .lds-default .dot:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
    background-color: #FF79DA;
    
  }
  .lds-default .dot:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
    background-color: #9356DC;
  }
  .lds-default .dot:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
    background-color: #FF79DA;
  }
  .lds-default .dot:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
    background-color: #9356DC;
  }
  .lds-default .dot:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
    background-color: #FF79DA;
  }
  .lds-default .dot:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
    background-color: #9356DC;
  }
  .lds-default .dot:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
    background-color: #FF79DA;
  }
  .lds-default .dot:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
    background-color: #9356DC;
  }
  .lds-default .dot:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
    background-color: #FF79DA;
  }
  .lds-default .dot:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
    background-color: #9356DC;
  }
  .lds-default .dot:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
    background-color: #FF79DA;
  }
  @keyframes lds-default {
 
    0%, 20%, 80%, 100% {
      transform: scale(1) ;
    }
    50% {
      transform: scale(1.5);
    }
  
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      visibility: visible;
    }

    100% {
      opacity: 0;
      visibility: hidden;
    }
  }